<%- include('./common/dashboard') %>

<div class="content">
    <div class="person">
        <% if (user && user.username == userFound.username) { %>
            <p>Estas en tu perfil</p>
            <a href="/user/<%= user.id%>">Editar</a>

            <% } else { %>
        <p>Viendo el perfil de</p>
        <% }  %>
        <div class="imagen">
            <img src="/images/userimages/<%= userFound.image %>" alt="">
        </div>
        
        <p><b><%= userFound.name %></b></p>
        <p><b><%= userFound.mail %></b></p>
       
        


    </div>

</div>

</div>
</main>
</body>

</html>